* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
}

body {
    /* background: rgb(222,232,230);
    background: linear-gradient(0deg, rgba(222,232,230,0.676908263305322) 5%, rgba(195,222,219,0.7105217086834734) 39%, rgba(224,237,235,0.7637429971988796) 69%, rgba(148,187,191,0.6797093837535014) 97%); */
    background-color: #fcfcfc;
    color:rgb(59, 59, 59);
}

header {
    background-color: rgb(44, 58, 71); 
    padding: 14px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

h2,
.contact-container legend,
.section-2 legend {
    color:black;
    font-size: 1.17em;
    font-weight: 900;
    }


h2 {
 margin-bottom: 12px;
}

p,
label {
    font-weight: 300;
    font-size: 14px;
}

.sign-up p, footer p  {
    color: rgb(110 110 110);
    padding: 0 5%;
} 

div[class="sign-up"] {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 35px;
}

div[class="border"] {
    border-top: 4px solid rgb(57, 57, 57);
    border-bottom: 2px solid rgb(57, 57, 57);
    margin: 0 4%;
    padding: 2px 0;
}

div[class="border-2"] {
    border: 1px solid rgb(57, 57, 57);
    margin: 0 4% 25px;
}

.contact-container {
    margin: 1.6em auto;
    display: flex;
    flex-direction: column;
    
}


.contact-container input,
select {
    width: 100%;
    padding: 5% 0 15px 5%;
    margin: 14px 0;
    
}


.contact-item input:focus,
textarea:focus {
    background-color: rgb(171, 206, 204);
    border-bottom: 5px dotted #52bab3; 
}

fieldset {
    border: none;
}


div [class="contact-header"] {
    margin-bottom: 5px;
}



.contact-container input, 
select, 
textarea {
    border-radius: .15em;
    background: rgb(235, 235, 235);
    border: none;
}


input::placeholder {
    text-align: right;
    padding-right: 15px;
    font-size: 12px;
    font-style: italic;
}

select {
    color: rgb(148, 148, 148); 
}

.select-box {
    font-size: 14px;
    padding-left: 10px;
    margin: 15px 0;
}



input[id="zip"] {
    width: 50%;
    margin-bottom: 0;
    display: block;
}

  input:not(input[type="checkbox"]),
  input:not(input[type="radio"])
  {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}  


.section-2 {
    display: flex;
    flex-flow: column wrap;
    margin: 30px 5px 10px;
}

.flex-item,
.section-2 p {
   margin-bottom: 20px;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label
 {
    font-weight: 900;
    color: rgb(39 143 143 );
}

.radio-wrap {
    padding: 12px 0;
}

textarea[id="topics"]{
    width: 100%;
    margin: 18px 0 22px;
    padding: 30px 0;
}

button[class="submit"] {
    background: #52bab3;
    /* background: radial-gradient(circle, rgb(67 114 114 / 98%) 0%, rgb(135 135 135 / 62%) 100%); */
    padding: 20px 0;
    border: none;
    border-radius: .15em;
    color: white;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 900;
}



.footer p {
    font-size: 14px;
    font-style: italic;
    color: rgb(136, 144, 148);
    text-align: center;
    padding-top: 8px;
}


footer {
    margin-bottom: 50%;
}



























































































































