* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather', Georgia, serif;
}

body {
    background: #fcfcfc;
    color:rgb(59, 58, 58);
}
header {
    /* background-color: rgb(44, 58, 71); */
    background: rgb(165,186,206);
    background: linear-gradient(90deg, rgba(165,186,206,1) 0%, rgba(25,42,56,0.4023984593837535) 53%);
    padding: 14px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}


h2 {
    font-size: 1.16em;
    margin-bottom: 14px;
    font-weight: 900;
}

p,
label {
    font-weight: 300;
    font-size: 14px;
}

.sign-up p  {
    color: rgb(167, 172, 175);
    padding: 0 5%;
} 

div[class="sign-up"] {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 35px;
}

div[class="border"] {
    border-top: 4px solid rgb(57, 57, 57);
    border-bottom: 2px solid rgb(57, 57, 57);
    margin: 0 4%;
    padding: 2px 0;
}

div[class="border-2"] {
    border: 1px solid rgb(57, 57, 57);
    margin: 0 4% 25px;
}

.contact-container {
    background-color: rgb(178, 195, 211);
    background: linear-gradient(90deg, rgba(165,186,206,1) 0%, rgba(69,100,122,0.6993172268907564) 35%);
    /* margin-top: 25px;
    margin-bottom: 5px;
    padding: 0 3px; */
    margin-0: 5px;
    margin: 0 6%;
}

legend {
    font-size: 1.17em;
    font-weight: 900;
}

input:focus {
    color: violet;
    border: lime;
}


fieldset {
    border: none;
}


div [class="contact-header"] {
    margin-bottom: 18px;
}



.contact-container input, 
select {
    border-radius: .5em;
    background: rgb(239, 237, 237);
    /* padding: 16px 0; 
    margin: 15px 0;
    width: 100%; */
    border: none;
    display: block;
}

input::placeholder {
    text-align: right;
    padding-right: 15px;
    font-size: 12px;
    font-style: italic;
}



select {
    color: rgb(148, 148, 148);
    
}

.select-box {
    font-size: 14px;
    padding-left: 10px;
    margin: 15px 0;
}

input[id="zip"] {
    width: 50%;
}

.section-2 {
    display: flex;
    flex-flow: column wrap;
    
    padding: 0 5%;
    gap: 20px;
}

/* .section-2 legend {
    margin-bottom: 18px;
    
}

.section-2 p {
    margin-bottom: 15px;
}


textarea {
    background: rgb(239, 237, 237);
    border: none;
    width: 100%; 
    flex-basis: auto;
    border-radius: .5em;
} */




























































































































