* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
}

body {
    
    background-color:#fafafa;
    color:rgb(59, 59, 59);
    
}

header {
    background-color: rgb(44, 58, 71); 
    /* background: rgb(78,96,114);
background: linear-gradient(0deg, rgba(78,96,114,1) 12%, rgba(57,79,100,1) 34%, rgba(40,65,88,0.9906337535014006) 59%, rgba(40,65,88,1) 90%); */
    padding: 14px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

h2,
.contact-container legend,
.section-2 legend {
    color:black;
    font-size: 1.17em;
    font-weight: 900;
    }


h2 {
 margin-bottom: 12px;
}

p,
label {
    font-weight: 300;
    font-size: 14px;
}

.sign-up p, footer p  {
    color: rgb(110 110 110);
    padding: 0 5%;
} 

div[class="sign-up"] {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 35px;
}

div[class="border"] {
    border-top: 4px solid rgb(57, 57, 57);
    border-bottom: 2px solid rgb(57, 57, 57);
    margin: 0 4%;
    padding: 2px 0;
}

div[class="border-2"] {
    border: 1px solid rgb(57, 57, 57);
    margin: 0 4% 25px;
}

.contact-container {
    margin: 1.6em auto;
    display: flex;
    flex-direction: column;
}


.contact-container input,
select {
    width: 100%;
    padding: 5% 0 15px 5%;
    margin: 14px 0;
    
}


.contact-item input:focus,
textarea:focus {
    background-color: rgb(171, 206, 204);
}

fieldset {
    border: none;
}


div [class="contact-header"] {
    margin-bottom: 5px;
}



.contact-container input, 
select, 
textarea {
    border-radius: .15em;
    background: rgb(219 219 219);
    border: none;
}


input::placeholder {
    text-align: right;
    padding-right: 15px;
    font-size: 12px;
    font-style: italic;
}

*:disabled {
    color:rgb(170, 170, 170);
}

.select-box {
    font-size: 14px;
    padding-left: 10px;
    margin: 15px 0;
}



input[id="zip"] {
    width: 50%;
    margin-bottom: 0;
    display: block;
}

  .contact-container input,
  button, 
  textarea,
  select
  {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}  


.section-2 {
    display: flex;
    flex-flow: column wrap;
    margin: 50px 5px 24px;
}

.flex-item,
.section-2 p {
   margin-bottom: 20px;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
    font-weight: 900;
    color: #4a9d97;
}

.radio-wrap {
    padding: 12px 0;
}

textarea[id="topics"]{
    width: 100%;
    margin: 18px 0 22px;
    padding: 30px 0;
}

button[class="submit"] {
     background: #4a9d97;
     padding: 20px 0;
     border: none;
     border-radius: .15em;
     color: white;
     font-size: 18px;
     margin-top: 5px;
     font-weight: 900;
}



.footer p {
    font-size: 14px;
    font-style: italic;
    color: rgb(136, 144, 148);
    text-align: center;
    padding-top: 8px;
}


footer {
    margin-bottom: 50%;
}


@media (min-width: 768px) {
    
    .page-wrap {
        width: 50%;
        margin: 0 auto;
    }


    .contact-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .contact-container input,
    select {
        width: 70%;
        padding: 15px 0;
    }

    input[id="zip"] {
       flex-basis: 30%;
    }

    .contact-item-zip {
        display: flex;
        align-items: center;
        gap: 7em;
    }

    }






















































































































